.rank {
  font-size: 14px;
}

.rank .hotop {
  position: relative;
  width: 100%;
  padding-top: 38.9%;
  background: url("../images/hot_music_bg_2x.jpg") no-repeat;
  background-size: contain;
}

.rank .hotop .hotPic {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding-left: 0.4rem;
  box-sizing: border-box;
}

.rank .hotop .hotPic .hoticon {
  width: 2.84rem;
  height: 1.34rem;
  background-position: -0.48rem -0.6rem;
}

.u-hmsprt {
  background: url("../images//index_icon_2x.png") no-repeat;
  background-size: 3.32rem 1.94rem;
}

.rank .hotop .hotPic .hotime {
  margin-top: 10px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 12px;
}

.m-sglst {
  position: relative;
}

.rank .sgitem {
  display: flex;
  padding-left: 10px;
}

.sgalia {
  color: #888;
  margin-left: 4px;
}

.rank .sgitem .sgfl {
  display: flex;
  width: 0.8rem;
  font-size: 17px;
  margin-left: -0.2rem;
  align-items: center;
  justify-content: center;
  color: #999;
}

.rank .sgitem .sgfl-cred {
  color: #df3436;
}

.rank .sgitem .sgfr {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.rank .sgitem .sgfr .sgchfl {
  padding: 6px 0;
  flex: 1 1 auto;
  line-height: 1.5;
  width: 5.86rem;
}

.sghot {
  display: inline-block;
  width: 0.24rem;
  height: 0.16rem;
  margin-right: 4px;
}

.u-hmsprt {
  background: url(//s3.music.126.net/mobile-new/img/index_icon_2x.png?5207a28…=) no-repeat;
  background-size: 3.32rem 1.94rem;
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

.rank .sgitem .sgfr .sgchfl .sgtl {
  font-size: 17px;
  color: #333;
  line-height: 1.5;
  width: 5.86rem;
}

.rank .sgitem .sgfr .sgchfl .sginfo {
  font-size: 12px;
  color: #888;
}

.sginfo .artist:last-child i {
  display: none;
}

.rank .sgitem .sgfr .sgchfr {
  display: flex;
  padding: 0 0.2rem;
  align-items: center;
}

.rank .sgitem .sgfr .sgchfr .sgchply {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  background-position: -0.48rem 0;
}