.rank {
  font-size: 20px;
}

.rank .hotop {
  position: relative;
  width: 100%;
  padding-top: 38.9%;
  background: url("../images/hot_music_bg_2x.jpg") no-repeat;
  background-size: contain;
}

.rank .hotop .hotPic {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  padding-left: 20px;
  box-sizing: border-box;
}

.rank .hotop .hotPic .hoticon {
  width: 2.84rem;
  height: 1.34rem;
  background-position: -24px -30px;
}

.u-hmsprt {
  background: url("../images//index_icon_2x.png") no-repeat;
  background-size: 3.32rem 1.94rem;
}

.rank .hotop .hotPic .hotime {
  margin-top: 10px;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 12px;
}

.rank .sgitem {
  display: flex;
  padding-left: 10px;
}

.rank .sgitem .sgfl {
  display: flex;
  width: 0.8rem;
  font-size: 17px;
  margin-left: -10px;
  align-items: center;
  justify-content: center;
  color: #999;
}

.rank .sgitem .sgfr {
  display: flex;
  flex-grow: 1;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.rank .sgitem .sgfr .innerfl {
  padding: 6px 0;
  flex-grow: 1;
}

.rank .sgitem .sgfr .innerfl .f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
  line-height: 1.5;
}

.rank .sgitem .sgfr .innerfl .sgtl {
  font-size: 17px;
  color: #333;
}

.rank .sgitem .sgfr .innerfl .sginfo {
  font-size: 12px;
  color: #888;
}

.rank .sgitem .sgfr .innerfr {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px;

}

.sgchply {
  display: inline-block;
  width: 0.44rem;
  height: 0.44rem;
  background-position: -0.48rem 0;
}